body
{
	margin: 0;
	padding: 0;
	background: url(501.jpg);
	background-size: cover;
	font-family: sans-serif;
}

.transparent
{	
	 background:#7f7f7f;
 	 background:rgba(2,0,0.2,0.2);
}


