{% extends 'base3.html' %}
{% load crispy_forms_tags %}


{% block services %}
{% endblock %}


{% block banner %}
{% endblock %}

{% block content %}

  {% if form.non_field_errors %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      {% for error in form.non_field_errors %}
        <p{% if forloop.last %} class="mb-0"{% endif %}>{{ error }}</p>
      {% endfor %}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {% endif %}


<div class="container my-4">
      <div class="row justify-content-center">
        <div class="banner-content">
        <h1>Ingreso al Sistema </h1>
          </div>
        </div>
        <div class="col-md-10 col-sm-12">
          <div class="card mb-3">
            <div class="card-body">
      <form method="post" novalidate>
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">
        {{ form.username|as_crispy_field }}
        {{ form.password|as_crispy_field }}
        <button type="submit" class="btn btn-primary">Continuar</button>
      </form>
  </div>
             
          </div>
          <footer>
          </footer>
        </div>
      </div>
    </div>

{% endblock %}
