{% extends 'base3.html' %}
{% load crispy_forms_tags %}


{% block services %}
{% endblock %}



{% block banner  %}
{% endblock %}

{% block content %}
	<div class="container my-4">
      <div class="row justify-content-center">
        <div class="banner-content">
        <h1>Registrate como traductor </h1>
              <p class="pt-10 pb-20">
                Si sabes mas de dos idiomas a la perfeccion trabaja con nosotros.
              </p>
          </div>
        </div>
        <div class="col-md-10 col-sm-12">
          <div class="card mb-3">
            <div class="card-body">
      <form method="post" novalidate>
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">
        {{ form|crispy }}
        <button type="submit" class="btn btn-success">Confirmar</button>
      </form>
      </div>
      </div>
          <footer>
          </footer>
        </div>
      </div>
    </div>

{% endblock %}
